body {
  scroll-behavior: smooth;
}

.copy {
  cursor: pointer;
}

pre {
  font-family: 'Fira Code', monospace;
  background: #1F2937;
  border-left: .25rem solid #3B82F6;
  color: rgb(235, 235, 235);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1F2937;
  opacity: .3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.highlight {
  color: orange;
}

.blink {
  animation: Blink 2s ease-in;
  border-radius: .25rem;
  padding: 0 .25rem;
}

@keyframes Blink {
  from {
    background-color: orange;
    color: rgb(235, 235, 235)
  } to {
    background-color: #1F2937;
    color: orange;
  }
}